@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/roboto-italic.woff2') format('woff2'), url('../fonts/roboto-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold.woff2') format('woff2'), url('../fonts/roboto-bold.woff') format('woff');
}


body {
   font-family: 'Roboto Regular';
   color: #231E20;
   background-image: url("../img/flask_back2.png");
   background-repeat: repeat;
}

.container_top {
    margin: 30px auto 10px auto;
    padding: 0 20px 0 50px;
    background-color: #a1aacd;
    width: 70%;
    box-shadow: 5px 7px 9px 2px #333;
}

.container {
    margin: 10px auto 30px auto;
    padding: 0 20px 0 50px;
    background-color: #a1aacd;
    width: 70%;
    box-shadow: 5px 7px 9px 2px #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Bold';
    line-height: 1.2;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 31pt;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

h2 {font-size: 28pt;}
h3 {font-size: 25pt;}
h4 {font-size: 22pt;}
h5 {font-size: 19pt;}
h6 {font-size: 16pt;}

p {
    margin: 18px 0 0 0;
    font-size: 14pt;
    color: #555;
}

b {
    font-family: 'Roboto Bold';
}

ol {
   padding-left: 40px;
   margin: 10px 10px;
}

ul {
    margin: 0 0;
}

li {
    padding-left: 7px;
}

table {
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 1px solid grey;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
   text-align: center;
}

th, td {
   border: 1px solid grey;
}

td.line_header {
    text-align: left;
}

.in_end {
    padding: 0 0 30px 0;
    text-align: center;
}

.logo {
    padding: 20px 0 20px 0;
}

.blog_name {
    float: right;
    margin: -65px 50px 0 0;
    font-size: 33pt;
    color: #ED131C;
}
